@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fruktur&family=Irish+Grover&family=Montserrat:wght@700&family=Nunito+Sans:wght@200;300;400;600;700&family=Patrick+Hand&family=Permanent+Marker&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}